<header class="header">
	<div class="header__container container">
		<!--  -->

		<a href="#" class="logo"
			><img width="74" height="23" src="./assets/img/logo.svg" alt="logo"
		/></a>

		<!--  -->
		<div class="mobile-menu">
			<div class="header__content">
				<nav class="header__nav">
					<ul class="menu header__menu">
						<li>
							<div href="#" class="dropdown" data-dropdown>
								<button class="dropdown__toggle btn-reset">
									<span>Company</span>
									<svg class="arrow dropdown__arrow" aria-label="hidden">
										<use href="./assets/img/svg/sprite.svg#arrow"></use>
									</svg>
								</button>
								<ul class="dropdown-menu list-reset" data-dropdown-menu>
									<li>
										<a tabindex="0" href="#" class="dropdown-menu__link"
											>Company</a
										>
									</li>
									<li>
										<a tabindex="0" href="#" class="dropdown-menu__link"
											>Company</a
										>
									</li>
									<li>
										<a tabindex="0" href="#" class="dropdown-menu__link"
											>Company</a
										>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div href="#" class="dropdown" data-dropdown>
								<button class="dropdown__toggle btn-reset">
									<span>Services</span>
									<svg class="arrow dropdown__arrow" aria-label="hidden">
										<use href="./assets/img/svg/sprite.svg#arrow"></use>
									</svg>
								</button>
								<ul class="dropdown-menu list-reset" data-dropdown-menu>
									<li>
										<a tabindex="0" href="#" class="dropdown-menu__link"
											>Services</a
										>
									</li>
									<li>
										<a tabindex="0" href="#" class="dropdown-menu__link"
											>Services</a
										>
									</li>
									<li>
										<a tabindex="0" href="#" class="dropdown-menu__link"
											>Services</a
										>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#" class="menu__link border-bottom-line">Solutions</a>
						</li>
						<li>
							<a href="#" class="menu__link border-bottom-line">Industries</a>
						</li>
						<li>
							<a href="#" class="menu__link border-bottom-line">Insights</a>
						</li>
						<li>
							<a href="#" class="menu__link border-bottom-line"
								>News And Media</a
							>
						</li>
					</ul>
				</nav>
				<div class="header__buttons">
					<button class="header__btn btn btn-bordered btn-reset">
						request quote
					</button>
					<button class="header__btn btn btn-filled btn-reset">join now</button>
				</div>
			</div>
		</div>

		<!--  -->

		<button class="burger">
			<span></span>
		</button>

		<!--  -->
	</div>
</header>
