<section class="hero">
	<div class="container hero__container">
		<div class="hero__content">
			<h1 class="hero__title">
				quick & reliable <span>warehousing and logistics</span> solution.
			</h1>
			<p class="hero__subtitle">
				ShipUp delivers an unparalleled customer service through dedicated
				customer teams, engaged people working in an agile culture, and a global
				footprint
			</p>
			<div class="hero__actions">
				<button class="btn btn-filled btn-reset">join now</button>
				<button class="video-play-btn btn-reset">
					<span class="video-play-btn__wrapper" aria-hidden="true">
						<svg class="video-play-btn__icon">
							<use href="./assets/img/svg/sprite.svg#video"></use>
						</svg>
					</span>
					<span>play demo</span>
				</button>
			</div>
		</div>
		<img
			width="700"
			height="594"
			src="./assets/img/courier.png "
			alt="courier"
			class="hero__img"
		/>
	</div>
</section>
