<section class="services">
	<div class="container">
		<div class="services__top">
			<h2 class="services__title title-border"><b>Services</b> we offer</h2>
			<div class="car-decor">
				<div class="car-decor__back"></div>
				<div class="car-decor__front">
					<svg class="car-decor__icon">
						<use href="./assets/img/svg/sprite.svg#truck"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="services__cards">
			<div class="info-card">
				<div class="info-card__top">
					<svg class="info-card__icon">
						<use href="./assets/img/svg/sprite.svg#truck"></use>
					</svg>
				</div>
				<h4 class="info-card__title">warehousing services</h4>
				<p class="info-card__text">
					A pay as-you-go solution for: pallet storage, inventory management,
					fulfillment(e.g. pick and pack), in/out-bound solutions, and more.
				</p>
			</div>
			<div class="info-card">
				<div class="info-card__top">
					<svg class="info-card__icon">
						<use href="./assets/img/svg/sprite.svg#plane"></use>
					</svg>
				</div>
				<h4 class="info-card__title">Global Freight</h4>
				<p class="info-card__text">
					Search and compare the best shipping rates among dozens of trusted
					logistic partners for the last mile delivery and freight.
				</p>
			</div>
			<div class="info-card">
				<div class="info-card__top">
					<svg class="info-card__icon">
						<use href="./assets/img/svg/sprite.svg#truck"></use>
					</svg>
				</div>
				<h4 class="info-card__title">packaging solutions</h4>
				<p class="info-card__text">
					Our packaging solutions are optimized for each individual customer and
					are selected based on on the customer’s specific needs and
					requirements.
				</p>
			</div>
		</div>
		<div class="services__buttons">
			<button class="services__btn btn btn-bordered btn-reset">
				request quote
			</button>
			<button class="services__btn btn btn-filled btn-reset">join now</button>
		</div>
	</div>
</section>
