.btn {
	padding: 20px 40px;
	border-radius: 12px;

	color: var(--white, #fff);
	text-align: center;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: capitalize;

	&:active {
		scale: 0.97;
	}
}

.btn-filled {
	background-color: var(--simblue, #2c2d5b);
}

.btn-bordered {
	padding: 19px 40px;
	border: 1px solid var(--simblue, #2c2d5b);
	background-color: transparent;
	color: var(--simblue, #2c2d5b);
}
