body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.wrapper {
	position: relative;
	@include flex-column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1;
}

.container {
	margin: 0 auto;

	max-width: 1170px;
	padding: 0 15px;
}

.logo {
	display: block;
	flex-shrink: 0;
}

.arrow {
	width: 12px;
	height: 7px;
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}

// on open some modals
.disable-scroll {
	overflow: hidden !important;
}

// Border on hover
.border-bottom-line {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;

		height: 1px;
		width: 100%;

		background: #000;
		border-radius: 5px;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;

		// transform-origin: right bottom;
		transform-origin: center;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
			// transform-origin: left bottom;
		}
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
.main {
	position: relative;
}

.title-border {
	padding-bottom: 14px;
	position: relative;
	width: max-content;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 130px;
		height: 4px;
		background-color: var(--simorange, #f67366);
	}
}

.spiral-container {
	position: relative;
}

.spiral {
	animation: rotate 10s linear infinite;
	width: 896px;
	height: 896px;
	@include breakpoint(lg) {
		width: 500px;
		height: 500px;
	}
	&_position {
		position: absolute;
		z-index: -1;
		left: -539px;
		top: -194px;
		@include breakpoint(lg) {
			left: -330px;
			top: -120px;
		}
	}

	&__circle {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid #bcbded;
	}

	&__truck,
	&__airplane {
		display: grid;
		place-items: center;
		position: absolute;
		&::before {
			content: '';
			width: 32px;
			height: 32px;
			background-position: center center;
			background-repeat: no-repeat;
			@include breakpoint(lg) {
				width: 25px;
				height: 25px;
				background-size: 25px 25px;
			}
		}
		width: 60px;
		height: 60px;
		@include breakpoint(lg) {
			width: 40px;
			height: 40px;
		}
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0px 0px 25px 0px rgba(151, 151, 151, 0.25);
	}

	&__truck {
		top: 223px;
		right: 22px;
		@include breakpoint(lg) {
			right: -18px;
		}
		animation: rotateReverse 10s linear infinite;

		&::before {
			background-image: url('../img/svg/truck.svg');
		}
	}

	&__airplane {
		bottom: -18px;
		right: 374px;
		@include breakpoint(lg) {
			right: 260px;
		}
		animation: rotateReverse 10s linear infinite;

		&::before {
			background-image: url('../img/svg/plane.svg');
		}
	}
}

@keyframes rotate {
	100% {
		rotate: 360deg;
	}
}

@keyframes rotateReverse {
	100% {
		rotate: -360deg;
	}
}
