<div href="#" class="dropdown" data-dropdown>
	<button class="dropdown__toggle btn-reset">
		<span></span>
		<svg class="arrow dropdown__arrow" aria-label="hidden">
			<use href="./assets/img/svg/sprite.svg#arrow"></use>
		</svg>
	</button>
	<ul class="dropdown-menu list-reset" data-dropdown-menu>
		<li>
			<a tabindex="0" href="#" class="dropdown-menu__link"></a>
		</li>
		<li>
			<a tabindex="0" href="#" class="dropdown-menu__link"></a>
		</li>
		<li>
			<a tabindex="0" href="#" class="dropdown-menu__link"></a>
		</li>
	</ul>
</div>
